<div class="wrap-card">
    <article [ngClass]="classesCard">
        <div>
            <p>
                <span>{{contentMessage.content}}</span>
            </p>
        </div>
        <footer>
            <div class="author">
                <p>Autor: {{contentMessage.author}}</p>
            </div>
            <div class="config">
                <a
                    (click)="openEditModal()">Edit</a>

                <div class="overlay" *ngIf="modalOpen"
                    (click)="openEditModal()"></div>
                <form
                    class="edit-modal"
                    *ngIf="modalOpen"
                    (ngSubmit)="onEdit()"
                    [formGroup]="formUpdateMsg">
                    <div (click)="openEditModal()">x</div>
                    <p>Conteudo da mensagem:</p>
                    <p>{{contentMessage.content}}</p>
                    <textarea
                        placeholder="Digite sua nova mensagem"
                        formControlName=content
                        type="text">
                    </textarea>
                    <button type="submit" (click)="onEdit()">Confirmar</button>
                </form>
                <a
                    (click)="onDelete()">Delete</a>
            </div>
        </footer>
    </article>
</div>