<div class="wrap-chat">
    <h2>Digite sua mensagem</h2>
    <form
        (ngSubmit)="onSubmit(refLocalForm)" #refLocalForm="ngForm"
        ngNativeValidate>
        <div class="input-user-chat">
            <textarea
                #refLocalInputContent
                ngModel
                name="messageContentForm"
                required
                placeholder="Mensagem">
            </textarea>

            <button *ngIf="userLogged" type="submit">CONFIRMAR</button>
            <a href="/autenticacao/signin" *ngIf="!userLogged" type="submit">Faça login</a>
        </div>
    </form>
    <!-- -->

</div>